{% extends "main/basic.html" %}

{% load i18n %}

{% block title %}{% trans 'Активация выполнена' %}{% endblock %}

{% block content %}
    <h2>{% trans 'Активация' %}</h2>
    <h5>{% trans 'Здравствуйте' %} {{ user_new }}!</h5>
    <h5>{% trans 'Пользователь с логином' %} {{ user_new.username }} {% trans 'успешно активирован' %}.</h5>
    {% if user.is_authenticated %}
        <h5 class="text-danger">{% trans 'Данный сеанс использует пользователь с логином' %} {{ user.username }}.</h5>
        <h5>{% trans 'Для смены пользователя Вам необходимо' %}
            <a href="{% url 'main:logout' %}">{% trans 'выйти' %}</a> {% trans 'с текущего сеанса' %}.</h5>
    {% else %}
        <h5>{% trans 'Вы можете' %} <a href="{% url 'main:login' %}">{% trans 'войти' %}</a> {% trans 'на сайт' %}!</h5>
    {% endif %}
{% endblock %}
