{% extends "main/basic.html" %}

{% block title %}Последние {{ count_limit }} тестов{% endblock %}

{% block content %}
    <h2>Последние опубликованные {{ count_limit }} тестов</h2>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Номер<br>п/п</th>
              <th scope="col">Предмет<br>(урок)</th>
              <th scope="col">Название теста</th>
              <th scope="col">Описание теста</th>
              <th scope="col">Количество<br>баллов</th>
              <th scope="col">Для групп<br>(классов)</th>
              <th scope="col">Последнее<br>изменение</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ test.lesson.name }}</td>
                    {% if user.is_authenticated and not user.is_staff %}
                        {% if test.is_show %}
                            <th scope="col"><a href="{% url 'main:start_testing' test.pk %}">{{ test.name }}</a></th>
                        {% else %}
                            <th scope="col">{{ test.name }}</th>
                        {% endif %}
                    {% else %}
                        <th scope="col">{{ test.name }}</th>
                    {% endif %}
                    <td>{{ test.content }}</td>
                    <td>{{ test.max_score }}</td>
                    <td>{{ test.group_in }}</td>
                    <td>{{ test.modified_at|date:"d.m.Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
