{% extends "main/basic.html" %}

{% load i18n %}

{% block title %}{% trans "Последние" %} {{ count_limit }} {% trans "тестов" %}{% endblock %}

{% block content %}
    <h2>{% trans "Последние опубликованные" %} {{ count_limit }} {% trans "тестов" %}</h2>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">{% trans "Номер" %}<br>{% trans "п/п" %}</th>
              <th scope="col">{% trans "Предмет" %}<br>({% trans "урок" %})</th>
              <th scope="col">{% trans "Название теста" %}</th>
              <th scope="col">{% trans "Описание теста" %}</th>
              <th scope="col">{% trans "Количество" %}<br>{% trans "баллов" %}</th>
              <th scope="col">{% trans "Для групп" %}<br>({% trans "классов" %})</th>
              <th scope="col">{% trans "Последнее" %}<br>{% trans "изменение" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ test.lesson.name }}</td>
                    {% if user.is_authenticated and not user.is_staff %}
                        {% if test.is_show %}
                            <th scope="col"><a href="{% url 'main:start_testing' test.pk %}">{{ test.name }}</a></th>
                        {% else %}
                            <th scope="col">{{ test.name }}</th>
                        {% endif %}
                    {% else %}
                        <th scope="col">{{ test.name }}</th>
                    {% endif %}
                    <td>{{ test.content }}</td>
                    <td>{{ test.max_score }}</td>
                    <td>{{ test.group_in }}</td>
                    <td>{{ test.modified_at|date:"d.m.Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
