{% extends "main/basic.html" %}

{% load static %}

{% block title %}Последние 10 тестов{% endblock %}

{% block content %}
    <h2>Последние опубликованные 10 тестов</h2>
    <table class="table">
        <thead>
            <tr>
                  <th scope="col">Номер п/п</th>
                  <th scope="col">Предмет (урок)</th>
                  <th scope="col">Название теста</th>
                  <th scope="col">Описание теста</th>
                  <th scope="col">MAX балов</th>
                  <th scope="col">Номера групп (классов)</th>
                  <th scope="col">Дата изменения</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ test.lesson.name }}</td>
                    <th scope="col">{{ test.name }}</th>
                    <td>{{ test.content }}</td>
                    <td>{{ test.max_score }}</td>
                    <td>{{ test.group_in }}</td>
                    <td>{{ test.modified_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
