{% extends "main/basic.html" %}

{% load bootstrap4 %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h2>Вход</h2>
    {% if user.is_authenticated %}
        <p>{{ user }}, Вы уже выполнили вход.</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><a href="{% url 'main:password_reset' %}">Забыли пароль?</a></p>
            {% buttons submit='Войти' %}{% endbuttons %}
        </form>
        <p><a href="{% url 'social:begin' 'facebook' %}">Войти через Facebook</a></p>
    {% endif %}
{% endblock %}

{% block add_script %}
    <script type="text/javascript" src= "{% static 'main/login.js' %}"></script>
{% endblock %}

