{% extends "main/basic.html" %}

{% load bootstrap4 %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Вход" %}{% endblock %}

{% block content %}
    <h2>{% trans "Вход" %}</h2>
    {% if user.is_authenticated %}
        <p>{{ user }}, {% trans "Вы уже выполнили вход" %}.</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><a href="{% url 'main:password_reset' %}">{% trans "Забыли пароль" %}?</a></p>
            <button type='submit' class="btn btn-outline-primary">{% trans "Войти" %}</button>
        </form>
        <p><a href="{% url 'social:begin' 'facebook' %}">{% trans "Войти через" %} Facebook</a></p>
    {% endif %}
{% endblock %}

{% block add_script %}
    <script type="text/javascript" src= "{% static 'main/login.js' %}"></script>
{% endblock %}

