{% extends 'main/basic.html' %}

{% load i18n %}

{% block title %}{% trans "Изменение пароля" %}{% endblock %}

{% block content %}
    <div class="row">
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <h2>{% trans "Изменение пароля" %}</h2>
            <div class="card">
                {% if validlink %}
                    <article class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                </p>
                            {% endfor %}
                            <button type="submit">{% trans "Изменить" %}</button>
                        </form>
                    </article>
                {% else %}
                    <article class="card-body">
                        <p>{% trans "Ссылка не правильная, возможно уже использовалась.
                            Повторите сброс пароля еще раз" %}.</p>
                    </article>
                {% endif %}
            </div>
        </aside>
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
    </div>
{% endblock %}