{% extends 'main/basic.html' %}

{% load i18n %}

{% block title %}{% trans "Пароль сброшен" %}{% endblock %}

{% block content %}
    <div class="row">
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <h2>{% trans "Пароль успешно сброшен" %}</h2>
            <div class="card">
                <article class="card-body">
                    <p>{% trans "Ваш пароль установлен. Вы можете войти по" %} <a href="{% url 'main:login' %}">
                        {% trans "ссылке" %}</a> {% trans "сейчас" %}.
                    </p>
                </article>
            </div>
        </aside>
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
    </div>
{% endblock %}