{% extends "main/basic.html" %}

{% load static %}
{% load bootstrap4 %}

{% load filtersandtags %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    <h2>Профиль пользователя {{ user.username }}</h2><br>
    <h5>{{ user }}!</h5>
    {% if not user.is_staff %}
        {% if tests %}
            <h5>Ваши пройденные тесты</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Номер<br>п/п</th>
                        <th scope="col">Предмет<br>(урок)</th>
                        <th scope="col">Название теста</th>
                        <th scope="col">Описание теста</th>
                        <th scope="col">Оценка за<br>тест</th>
                        <th scope="col">Для групп<br>(классов)</th>
                        <th scope="col">Начало<br>теста</th>
                        <th scope="col">Завершение<br>теста</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                        <tr>
                            <td>{{ page.number|multiplic:page.paginator.per_page|add:forloop.counter }}</td>
                            <td>{{ test.task.lesson.name }}</td>
                            <th>{{ test.task.name }}</th>
                            <td>{{ test.task.content }}</td>
                            <th>{{ test.test_score }} из {{ test.task.max_score }}</th>
                            <td>{{ test.group_in }}</td>
                            <td>{{ test.start_at|date:"d.m.Y H:i:s" }}</td>
                            <td>{{ test.end_at|date:"d.m.Y H:i:s" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else%}
            <h5 class="text-danger">Вы не прошли ни одного теста</h5>
        {% endif %}
        {% bootstrap_pagination page url=keyword %}
    {% endif %}
{% endblock %}
