{% extends "main/basic.html" %}

{% load bootstrap4 %}

{% load static %}

{% load i18n %}

{% block title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
<h2>{% trans "Регистрация нового пользователя" %}</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <button type='submit' class="btn btn-outline-primary">{% trans "Зарегистрироваться" %}</button>
</form>
{% endblock %}

{% block add_script %}
    <script type="text/javascript" src= "{% static 'main/register.js' %}"></script>
{% endblock %}
