{% extends "main/basic.html" %}

{% load filtersandtags %}

{% load bootstrap4 %}

{% load i18n %}

{% block title %} {{ current_lesson.name }}{% endblock %}

{% block content %}
    <h2>{% trans "Для группы (класса)" %}: {{ current_group.name }}</h2>
    <table class="table">
        <thead>
            <tr>
                  <th scope="col">{% trans "Номер" %}<br>{% trans "п/п" %}</th>
                  <th scope="col">{% trans "Предмет" %}<br>({% trans "урок" %})</th>
                  <th scope="col">{% trans "Название теста" %}</th>
                  <th scope="col">{% trans "Описание теста" %}</th>
                  <th scope="col">{% trans "Количество" %}<br>{% trans "баллов" %}</th>
                  <th scope="col">{% trans "Последнее" %}<br>{% trans "изменение" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ page_obj.number|multiplic:page_obj.paginator.per_page|add:forloop.counter }}</td>
                    <td>{{ task.lesson.name }}</td>
                    {% if user.is_authenticated and not user.is_staff %}
                        {% if task.is_show %}
                            <th scope="col"><a href="{% url 'main:start_testing' task.pk %}">{{ task.name }}</a></th>
                        {% else %}
                            <th scope="col">{{ task.name }}</th>
                        {% endif %}
                    {% else %}
                        <th scope="col">{{ task.name }}</th>
                    {% endif %}
                    <td>{{ task.content }}</td>
                    <td>{{ task.max_score }}</td>
                    <td>{{ task.modified_at|date:"d.m.Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% bootstrap_pagination page_obj size="small" pages_to_show=3 %}
    {% endif %}
{% endblock %}